$dark-purple: #7c5dfa;
$light-purple: #9277ff;
$Nightshade: #1e2139;
$Twilight: #252945;
$Lavender-Mist: #dfe3fa;
$Night-Blue: #888eb0;
$Bluebell: #7e88c3;
$Charcoal: #0c0e16;
$Crimson: #ec5757;
$Twilight-Lavender: #9277ff;
$Light-BG: #f8f8fb;
$Midnight-Black: #141625;
